<h1>About us</h1>
<app-counter [value]="value"></app-counter>

<p>Excepteur nulla excepteur est consectetur laborum cillum non enim et.</p>

<p>
  Elit qui enim eu minim ut dolore enim nulla. Exercitation dolor excepteur
  deserunt eu aute in exercitation duis nisi aliquip eiusmod pariatur eu mollit.
  Dolore mollit cupidatat nostrud enim irure ad proident mollit irure enim et in
  qui. Enim exercitation mollit Lorem eu nulla excepteur nisi pariatur. Tempor
  adipisicing in occaecat ad ad mollit ex.
</p>

<p>
  Voluptate quis aute elit dolor sint est. Non aliquip reprehenderit amet
  occaecat culpa. Mollit elit veniam ad quis nisi dolor mollit excepteur
  reprehenderit. Commodo do velit velit enim consequat aliquip ut elit do
  excepteur pariatur ullamco.
</p>

