nav {
  display: flex;
  padding: 1rem;
  background: whitesmoke;

  a {
    display: inline-flex;
    color: black;
    font-weight: bold;
    text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
